<div class="tudo">
    <div class="conteudo">
        
        <app-menu></app-menu>

        <div class="principal">
            <div class="imagem_principal">
                <img src="assets/Imagem_principal.png" class="imagem_prin">
            </div>
    
            <div class="container_contato">   
                <app-form></app-form>
            </div>
        </div>
        
        <footer>
            <img src="assets/designer.png" class="imagem">
        </footer>
    
    </div>
</div>