.espaço{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    float: left;
    
}
.tabuleiro{
    width: 250px;
}


#a1{background-color: black;}
#a2{background-color: lightgrey;}
#a3{background-color: black;}
#a4{background-color: lightgrey;}
#b1{background-color: lightgrey;}
#b2{background-color: black;}
#b3{background-color: lightgrey;}
#b4{background-color: black;}
#c1{background-color: black;}
#c2{background-color: lightgrey;}
#c3{background-color: black;}
#c4{background-color: lightgrey;}
#d1{background-color: lightgrey;}
#d2{background-color: black;}
#d3{background-color: lightgrey;}
#d4{background-color: black;}




.imagem{    
    width: 80px;
    height: auto;
    margin: 30 0 0 0px;
    padding: 40px 0;

}


