.principal{
    background:  #E5E5E5; 
    padding-left: 16px; 
    padding-right: 16px; 
    height: 95vh
}

.titulo{
    font-size: 24px; 
    font-weight: 500; 
    padding-top: 16px; 
    margin-bottom: 16px
}


.error-description {
    color: #B00020 !important;
}

.description {
    font-weight: 400; 
    font-size: 12px; 
    color: rgba(0, 0, 0, 0.6);
}