<div class="tudo">

    <div class="conteudo">
        
        <app-menu></app-menu>

        <div class="principal">
    
            <div class="imagem_principal">
                <img src="assets/Imagem_principal.png" class="imagem_prin" >
            </div>
    
            <div class="container_contato">
                <h2 class="contato">CONTACT US</h2>
                <p class="descricao"> Lorem ipsium dolor sit amet, consectetuer adiplicing elit, set diam monummy nibh eusimod tincidunt ut laoreet dolore magma aliquan erat volutpat. Us wisi enim ad minim veniam quis</p>
    
                <div class="borda"></div>
    
                <app-form></app-form>
                
            </div>
    
        </div>
        
    
        <footer>
            <img src="assets/designer.png" class="imagem">
        </footer>
    
    </div>

</div>