
<main class="principal">

<h2 class="titulo" >Reprovado</h2>

<div class="card" >
        <span class="proposta">Proposta Nº0001</span>
        <img class="imagem" src="assets/reproved.png" >
        <span class="reprovado">STATUS: REPROVADO</span>

        <p>Infelizmente não foi possivel aprovar seu financiamento</p>
        <p> Não desanime, reunimos algumas dicas que podem ajudar na sua próxima simulação:</p>

        <ul class="lista-reprovado">
            <li>Mantenha seu CPF em dia e sem restrições;</li>
            <li>Dados de endereço, e-mail, telefone sempre atualizados;</li>
            <li>Melhore seu relacionamento com o banco, movimentando sua conta.</li>
        </ul>

        <a class="btn btn-primary" id="tela" [routerLink]="['']" title="IR PARA TELA INICIAL" (click)="limpar()" >IR PARA TELA INICIAL</a>       
</div> 


</main>       