
<main class="principal">

    <h2 class="titulo">Tela inicial</h2>


    <div class="card">
        <div>
            <h3>Conquiste o sonho da casa própria</h3>
        </div>
         
    <div class="border"></div>
          
        <p>Em apenas alguns passos fique mais perto de<br>
            segurar as suas chaves :)
        </p>

         <a class="btn btn-primary" [routerLink]="['/informacoes']" title="simular financiamento" >SIMULAR FINANCIAMENTO</a>
    </div>
   
    <footer>
    <img src="assets/logo.png" class="imagem">
    </footer>

</main>



